* {
    margin: 0;
    padding: 0;
}

body {
    background-color: ivory;
}

::selection {
    background-color: rgb(255, 70, 85);
    color: white;
}

.header {
    z-index: 999;
    position: fixed;
    width: 100%;
    font-weight: bold;
    background-color: black;
    color: white;
    height: 70px;
    line-height: 70px;
    font-size: 12pt;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 15px 25px;
}

a:hover {
    color: rgb(255, 70, 85);

}

.menu>.sub {
    margin: auto;
    display: inline-block;
}

.menu li {
    list-style: none;
    margin-left: 5px;
    margin-bottom: 10px;
    float: left;
    padding-left: 11.5%;
}

.sub {
    position: absolute;
    width: 200px;
    background-color: grey;
    display: none;
    z-index: 1;
    text-align: center;
}

nav {
    background-color: black;
    padding-left: 190px;
}

.main {
    padding-top: 180px;
    padding-right: 80px;
    background-color: ivory;
}

.main>img {
    padding-bottom: 50px;
    padding-left: 20px;

}

.main>.contents {
    margin-top: 20px;
    float: right;
}

.main>.contents>h1 {
    padding-top: 80px;
    font-size: 50px;
}

.main>.contents>p {
    font-size: 20px;
    padding-bottom: px;
}

.main3 {
    padding: 30px;
    background-color: rgb(255, 70, 85);
}

.main3>img {
    padding-left: 50px;
}

.main3>.maintext {
    padding-top: 250px;
    padding-right: 160px;
    float: right;
    color: black;
}

.main3>.maintext>h1 {
    font-size: 120px;
}

.main3>.maintext>p {
    font-size: 20px;
}

nav>.coment {
    font-size: 30px;
    padding-left: 550px;
    position: absolute;
}

nav>.coment>h2 {
    padding-left: 100px;
}

nav>.coment>span {
    display: inline-block;
    margin-top: 50px;
}

.slider {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 50px;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    border-radius: 10px;
}

.main-slider {
    max-height: 750px;
    width: 80%;
    margin-left: 70px;
    max-width: 2000px;
    overflow: hidden;
}

.main-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.main-slides img {
    width: 100%;
}

button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

.button {
    margin-top: 1730px;
    border-radius: 0;
    background-color: ivory;
    color: black;
}

.box {
    margin-top: 35px;
    float: right;
    width: 1000px;
}

.box .img-wrap {
    overflow: hidden;
}

.thumb {
    width: 100%;
    height: 700px;
}

.box img:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 1s;

}

.box img {
    transition-duration: 1s;
}

.coment2 {
    position: absolute;
    margin-left: 50px;
    height: 80%;
}

.coment2>h1 {
    margin-top: 210px;
    font-size: 120px;

}

.coment2>p {
    font-size: 20px;
}

.mapbutton {
    margin-left: 50px;
    margin-top: 2600px;
    border-radius: 0;
    background-color: rgb(255, 70, 85);
    color: white;
}

.mapbutton>a:hover {
    color: black;
}